{% extends 'base.html.twig' %}

{% block title %}Connexion compte!{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <div class="content mt-5 h-100 d-grid justify-content-center">

    <h1 class="h3 mb-3 font-weight-normal">Connectez-vous à votre compte</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
<div class="d-flex justify-content-between">
    <button class="btn btn-lg btn-primary rounded-pill mt-5 w-50" type="submit">
        Se connecter
    </button>
        <div>
            <a class="d-flex justify-content-end" href="{{ path('app_register') }}">
                Créer un compte
            </a>
        </div>

</div>
    </div>
    {% endblock %}
    {% block footer %}
</form>
{% endblock %}
