{% extends 'base.html.twig' %}

{% block title %}
    Valider ma commande !
{% endblock %}

{% block content %}
    <div class="container-fluid d-grid min-vh-100 w-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-6">
                <h2 class="title text-center mb-4">Je passe ma commande</h2>
                {% set formhtml %}
                    {{ form_start(form, {action: path('app_order_recap'), attr: { 'class': 'needs-validation' }}) }}
                    {{ form_end(form) | raw }}
                {% endset %}
                {{ formhtml | raw }}
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Informations de la commande</h5>
                        <ul class="list-group">
                            {% for cartItem in cart %}
                                <li class="list-group-item">
                                    <span>{{ cartItem.product.name }}</span>
                                    <span class="float-end">{{ cartItem.product.price }} €</span>
                                </li>
                                <li class="list-group-item">
                                    <span>Quantité: {{ cartItem.quantity['quantity'] }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
